{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <section class="section-two bg-light">
    <div class="mt-100 custom-form">
      <form id="implementForm" data-subcategories-url="{% url 'equipments:subcategory' %}" method="POST" class="col-md-8 offset-md-2 card" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="card-body">
          <div class="text-center">
            <h4 class="mb-4 pb-2 pt-2">Add your implement</h4>  
          </div>
          <div class="form-group">
            {{ form | crispy }}
            <button type="submit" class="btn btn-green mt-2">Add implement</button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script>
    $("#id_category").change(function () {
      var url = $("#implementForm").attr("data-subcategories-url");
      var categoryId = $(this).val();  
      $.ajax({                       
        url: url,
        data: {
          'category': categoryId
        },
        success: function (data) { 
          $("#id_subcategory").html(data); 
        }
      });

    });
  </script>

{% endblock content %}
