<div class="container">
    <!-- <div class="row">
				<div class="col-sm-6 col-md-4 col-md-3 col-lg-2">
					<div class="quick_link_widget">
						<h4>Quick Links</h4>
						<ul class="list-unstyled">
							<li><a href="#">Job Packages</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-md-3 col-lg-3">
					<div class="candidate_widget">
						<h4>For Candidates</h4>
						<ul class="list-unstyled">
							<li><a href="#">User Dashboard</a></li>
						</ul>
					</div>
				</div> -->
    <!-- <div class="col-sm-4 col-md-4 col-md-3 col-lg-3">
					<div class="employe_widget">
						<h4>For Employers</h4>
						<ul class="list-unstyled">
							<li><a href="#">Post New</a></li>
						</ul>
					</div>
				</div> -->
    <div class="col-sm-8 col-md-6 col-md-3 col-lg-4">
        <div class="newsletter_widget home6">
            <h4>Newsletter</h4>
            <p>Subscribe to Fagrimacs newsletter to get the latest Tractors and Implement posted, experts, and other
                latest news - stay updated.</p>
            <form class="form-inline mailchimp_form">
                <label class="sr-only" for="inlineFormInputMail2">Name</label>
                <input type="email" class="form-control mb-2 mr-sm-2" id="inlineFormInputMail2"
                    placeholder="Enter your email address">
                <button type="submit" class="btn btn-primary mb-2"><span class="fa fa-paper-plane-o"></span></button>
            </form>
        </div>
    </div>
</div>
