<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-3 col-lg-2">
			<div class="quick_link_widget">
				<h4>Company</h4>
				<ul class="list-unstyled">
					<li><a href="{% url 'main:about' %}">About company</a></li>
					<li><a href="{% url 'main:contact' %}">Contact us</a></li>
					<!-- <li><a href="#">Careers</a></li>
					<li><a href="#">Partnership</a></li> -->
				</ul>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-md-3 col-lg-3">
			<div class="candidate_widget">
				<h4>For Equipments Owner</h4>
				<ul class="list-unstyled">
					<li><a href="{% url 'accounts:signup' %}">Signup to Rent-out</a></li>
					<li><a href="{% url 'equipments:add-tractor' %}">Add Tractor</a></li>
					<li><a href="{% url 'equipments:add-implement' %}">Add Implement</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-md-3 col-lg-3">
			<div class="employe_widget">
				<h4>For Farmers</h4>
				<ul class="list-unstyled">
					<li><a href="{% url 'accounts:signup' %}">Signup to Rent-in & Rent-out</a></li>
					<li><a href="{% url 'equipments:all-tractors' %}">Browse Tractors</a></li>
					<li><a href="{% url 'equipments:all-implements' %}">Browse Implements</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-8 col-md-6 col-md-3 col-lg-4">
			<div class="newsletter_widget home6">
				<h4>Newsletter</h4>
				<p>Subscribe to Fagrimacs newsletter to get the latest Tractors and Implement posted, experts, and other
					latest news - stay updated.</p>
				<form class="form-inline mailchimp_form">
					<label class="sr-only" for="inlineFormInputMail2">Name</label>
					<input type="email" class="form-control mb-2 mr-sm-2" id="inlineFormInputMail2"
						placeholder="Enter your email address">
					<button type="submit" class="btn btn-primary mb-2"><span class="fa fa-paper-plane-o"></span></button>
				</form>
			</div>
		</div>
	</div>
</div>
