{% load static %}

<header class="header-nav menu_style_home_six navbar-scrolltofixed stricky main-menu">
    <div class="container">
        <!-- Ace Responsive Menu -->
        <nav>
            <!-- Menu Toggle btn-->
            <div class="menu-toggle">
                <img class="nav_logo_img img-fluid" src="{% static 'main/images/logo.png' %}" alt="logo">
                <button type="button" id="menu-btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a href="/" class="navbar_brand float-left dn-smd mt10">
                <img class="img-fluid" src="{% static 'main/images/logo.png' %}" alt="logo">
            </a>
            <!-- Responsive Menu Structure-->
            <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'accounts:logout' %}"><span class="title">Logout</span></a></li>
                {% else %}
                <div class="pull-right dn-smd mt-3">
                    <a href="{% url 'accounts:login' %}" class="btn btn-outline-success">Login</a>
                    <a href="{% url 'accounts:signup' %}" class="btn btn-success">Signup</a>
                </div>
                {% endif %}
                <li>
                    <a href="{% url 'main:contact' %}"><span class="title ">
                            Contact us</span>
                    </a>
                </li>
                <li>
                    <a href="{# url 'main:experts' #}">
                        <span class="title">Hire Experts</span>
                    </a>
                </li>
                <li>
                    <a href="#"><span class="title">Browse Equipments</span></a>
                    <ul>
                        <li>
                            <a href="{% url 'equipments:all-tractors' %}">
                                <span class="title">Tractors</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'equipments:all-implements' %}">
                                <span class="title">Implements</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'main:about' %}">
                        <span class="title">About us</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <span class="title">Home</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- End of Responsive Menu -->
    </div>
</header>
