{% load  static %}

 <!-- javascript -->
 <script src="{% static 'main/js/jquery-3.5.1.min.js' %}"></script>
 <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'main/js/jquery.easing.min.js' %}"></script>
 <script src="{% static 'main/js/scrollspy.min.js' %}"></script>
 <!-- Magnific popup -->
 <script src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>
 <script src="{% static 'main/js/magnific.init.js' %}"></script>
 <!-- Icon -->
 <script src="{% static 'main/js/feather.min.js' %}"></script>
 <script src="https://unicons.iconscout.com/release/v2.1.9/script/monochrome/bundle.js"/></script>
 <!-- SLIDER -->
 <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
 <script src="{% static 'main/js/owl.init.js' %}"></script>
 <!-- Contact -->
 <script src="{% static 'main/js/contact.js' %}"></script>
 <!-- Main Js -->
 <script src="{% static 'main/js/app.js' %}"></script>

 
{% block javascript %}
{% endblock javascript%}
