{% load  static %}

<script type="text/javascript" src="{% static 'main/js/jquery-3.3.1.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/jquery-migrate-3.0.0.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
    integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'main/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/jquery.mmenu.all.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/ace-responsive-menu.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/snackbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/simplebar.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/scrollto.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/jquery-scrolltofixed-min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/jquery.counterup.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/progressbar.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/slider.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/timepicker.js' %}"></script>
<!-- Custom script for all pages -->
<script type="text/javascript" src="{% static 'main/js/script.js' %}"></script>

{% block javascript %}
{% endblock javascript%}
