{% extends 'base.html' %}
{% load static %}

{% block content %}
	<!-- Home Start --> 
	<section class="bg-half-170 d-table w-100 overflow-hidden" id="home">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-8 col-md-6">
					<div class="title-heading">
						<h1 class="heading mb-3 text-light">Make Money with <br>Farm Equipments Rental Platform.</h1>
						<p class="para-desc text-muted text-light">A web platform where farmers can easy rent-out their Tractors & Implements which they don’t need and rent-in what they want to use from nearby farmers.</p>
						<div class="mt-4">
							<a href="{% url 'accounts:signup' %}" class="btn btn-orange btn-lg">Get Started</a>
						</div>
					</div>
				</div><!--end col-->

				<div class="col-lg-4 col-md-6">
				</div><!--end col-->
			</div><!--end row-->
		</div><!--end container-->
	</section><!--end section-->
	<!-- Home End -->

	<!-- Client start -->
	<section class="py-4 border-top border-bottom position-relative">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-2 col-md-2 col-4 text-center py-3">
					<img src="{% static 'main/images/client/1.png' %}" class="avatar avatar-m-md partner-img" alt="">
				</div><!--end col-->

				<div class="col-lg-2 col-md-2 col-4 text-center py-3">
					<img src="{% static 'main/images/client/2.png' %}" class="avatar avatar-m-md partner-img" alt="">
				</div><!--end col-->
				
				<div class="col-lg-2 col-md-2 col-4 text-center py-3">
					<img src="{% static 'main/images/client/3.png' %}" class="avatar avatar-m-md partner-img" alt="">
				</div><!--end col-->
				
				<div class="col-lg-2 col-md-2 col-4 text-center py-3">
					<img src="{% static 'main/images/client/4.png' %}" class="avatar avatar-m-md partner-img" alt="">
				</div><!--end col-->
				
				<div class="col-lg-2 col-md-2 col-4 text-center py-3">
					<img src="{% static 'main/images/client/5.png' %}" class="avatar avatar-m-md partner-img" alt="">
				</div><!--end col-->
				
				<div class="col-lg-2 col-md-2 col-4 text-center py-3">
					<img src="{% static 'main/images/client/6.png' %}" class="avatar avatar-m-md partner-img" alt="">
				</div><!--end col-->
			</div><!--end row-->
		</div><!--end container-->
	</section>
	<!-- Client end -->

	<section class="popular-job bgc-fa mt-100 mb-60">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="ulockd-main-title">
						<h4>EQUIPMENTS</h4>
						<h3 class="mt0">Browse the largest Equipments in the industry</h3>
					</div>
				</div>
			</div>
			<div class="row">
				{% for category in tractor_categories %}
				<div class="col-6 col-sm-4 col-lg-3 pt-3">
					<a href="{% url 'equipments:tractor-category' category.pk %}" class="icon_hvr_img_box card">
						<div class="overlay">
							<div class="icon"></div>
							<div class="details">
								<div class="row">
									<div class="col-8"><h5>{{category.name}}</h5></div>
								<div class="col-4"><img src="{{category.image.url }}" alt="icon" class="float-right mr-3" style="width: 50px; height:auto;"></div>
								</div>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
				{% for category in implement_categories %}
				<div class="col-6 col-sm-4 col-lg-3 pt-3">
					<a href="{% url 'equipments:implement-category' category.pk %}" class="icon_hvr_img_box card">
						<div class="overlay">
							<div class="icon"></div>
							<div class="details">
								<div class="row">
									<div class="col-8"><h5>{{category.name}} Implements</h5></div>
								<div class="col-4"><img src="{{category.image.url }}" alt="icon" class="float-right mr-3" style="width: 50px; height:auto;"></div>
								</div>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock content %}